{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
<h2>Change password</h2>
{% endblock %}
{% block inner_container %}
<form method="POST">
            <div class="block">
                {{ form.old_password.label }} {{ form.old_password(id='old_password-field') }}
            </div>
            <div class="block">
                {{ form.new_password.label }} {{ form.new_password(id='new_password-field') }}
            </div>
             <div class="block">
                {{ form.new_password2.label }} {{ form.new_password2(id='new_password2-field') }}
            </div>
            {{ form.submit() }}
        </form>
{% endblock %}