{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
<h2>Login</h2>
{% endblock %}
{% block inner_container %}
<form method="POST">
            <div class="block">
                {{ form.email.label }} {{ form.email(id='name-field') }}
            </div>
            <div class="block">
                {{ form.password.label }} {{ form.password(id='password-field') }}
            </div>
             <div class="block">
                {{ form.rememberMe.label }} {{ form.rememberMe(id='rememberMe-field') }}
            </div>
            {{ form.submit() }}
        </form>
{% endblock %}